.wp-slideshow {
    width: 600px;
    margin: auto;
}
.wp-slideshow img {
    width: 100%;
}
#sortable {
    display: flex;
    flex-wrap: wrap;
}
.slide-item {
    margin: 5px;
    position: relative;
}
.remove-image {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}
